{% extends "layout.html" %}

{% block body %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <label for="playlists">Escolha uma playlist:</label>
        <select name="playlists" id="playlists">
            <option hidden disabled selected value> Playlist </option>
            {% for playlist in playlists %}
            <option value="{{playlist.name}}">{{playlist.name}}</option>
            {% endfor %}
        </select>
        <br><br>

        <script src="../static/resultados.js"></script>
        
{% endblock %}