<!DOCTYPE html>
<html lang="pt">
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"crossorigin="anonymous">

        <!-- outros -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css">

        <!-- data-tables -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"crossorigin="anonymous">

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>SpotiBayes</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
              <a class="navbar-brand" href="/">
                    <img src="{{ url_for('static', filename='logo2_full.png') }}" width="150" height="50" alt="">
                  </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item {{ home_active }}">
                    <a class="nav-link" href="/">Home
                        {% block home %}
                        {% endblock %}
                        </a>
                  </li>
                  <li class="nav-item  {{ about_active }}">
                    <a class="nav-link" href="/about">Sobre
                        {% block about %}
                        {% endblock %}
                        </a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        {% block body %}
        {% endblock %}
        <footer class="page-footer font-small stylish-color-dark pt-4",
            style="padding-top:80px;padding-bottom:50px;box-shadow: 0 50vh 0 50vh #3E4551;">

            <!-- Footer Elements -->
            <div class="container text-center text-md-left">
                <div class="row">
                    <div class="col-md-2 mx-auto">
                        <a class="navbar-brand" href="/">
                            <img src="{{ url_for('static', filename='logo2_full.png') }}" width="150" height="50" alt="">
                        </a>
                    </div>
                    <hr class="clearfix w-100 d-md-none">
                    <div class="col-md-2 mx-auto">
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://github.com/guilherme-ambrosano"target="_blank">Github</a>
                            </li>
                            <li>
                                <a href="http://lattes.cnpq.br/1964349025366125" target="_blank">Lattes</a>
                            </li>
                        </ul>
                    </div>
                </div>
          
            </div>
            <!-- Footer Elements -->
                    
        </footer>
    </body>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- data-tables -->
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"crossorigin="anonymous"></script>
    {% block script %}
    {% endblock %}
</html>
